Source: ros-indigo-pi-trees
Section: misc
Priority: extra
Maintainer: Patrick Goebel <patrick@pirobot.org>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin
Homepage: http://ros.org/wiki/pi_trees
Standards-Version: 3.9.2

Package: ros-indigo-pi-trees
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-pi-trees-lib, ros-indigo-pi-trees-ros, ros-indigo-roscpp, ros-indigo-rospy
Description: Behavior Trees for ROS
